.card {
    width: 18rem;
    height: auto;
  }
  
  .card-img-top {
    min-height: 150px;
    max-height: 300px;
    max-width: 17.5rem;
  }
  
  .card-body {
    max-height: 200px;
  }
  
  .card-title {
    max-height: 50px;
  }

  .image-container {
    height: 300px;
    position: relative;
  }
  .itemCounter {
      margin: 10px;
      align-items: center;
      position: relative;
  }

  h1.itemCounter {
    position: absolute;
    color: blue;
  }